<?xml version="1.0" encoding="UTF-8"?>
<api context="/employee" name="SpringBoot_Rest_API" xmlns="http://ws.apache.org/ns/synapse">
    <resource methods="GET" uri-template="/emp">
        <inSequence>
            <log>
                <property name="Before_Endpoint" value="Before_Endpoint"/>
            </log>
            <call>
                <endpoint key="GetAPI"/>
            </call>
            <log>
                <property name="After_Endpoint" value="After_Endpoint"/>
                <property expression="json-eval($)" name="Responsepayload"/>
            </log>
            <respond/>
        </inSequence>
        <outSequence/>
        <faultSequence/>
    </resource>
    <resource methods="POST" uri-template="/add">
        <inSequence>
            <log>
                <property name="Before_Endpoint" value="Before_Endpoint"/>
                <property expression="json-eval($)" name="Inputpayload"/>
            </log>
            <call>
                <endpoint key="Post_EP"/>
            </call>
            <log>
                <property name="After_Endpoint" value="After_Endpoint"/>
                <property expression="json-eval($)" name="Responsepayload"/>
            </log>
            <respond/>
        </inSequence>
        <outSequence/>
        <faultSequence/>
    </resource>
    <resource methods="PUT" uri-template="/update">
        <inSequence>
            <log>
                <property name="Before_Endpoint" value="Before_Endpoint"/>
                <property expression="json-eval($)" name="Inputpayload"/>
            </log>
            <call>
                <endpoint key="Update_EP"/>
            </call>
            <log>
                <property name="After_Endpoint" value="After_Endpoint"/>
                <property expression="json-eval($)" name="Responsepayload"/>
            </log>
            <respond/>
        </inSequence>
        <outSequence/>
        <faultSequence/>
    </resource>
    <resource methods="DELETE" uri-template="/delete/{empId}">
        <inSequence>
            <property expression="$ctx:uri.var.empId" name="uri.var.empId" scope="default" type="STRING"/>
            <log>
                <property expression="get-property('uri.var.empId')" name="uri.var.empId"/>
            </log>
            <call>
                <endpoint key="Delete_EP"/>
            </call>
            <log>
                <property name="After_Endpoint" value="After_Endpoint"/>
                <property expression="json-eval($)" name="Responsepayload"/>
            </log>
            <respond/>
        </inSequence>
        <outSequence/>
        <faultSequence/>
    </resource>
    <resource methods="GET" uri-template="/getbyId/{empId}">
        <inSequence>
            <property expression="$ctx:uri.var.empId" name="uri.var.empId" scope="default" type="STRING"/>
            <log>
                <property expression="get-property('uri.var.empId')" name="uri.var.empId"/>
            </log>
            <call>
                <endpoint key="GetbyID_EP"/>
            </call>
            <log>
                <property name="After_Endpoint" value="After_Endpoint"/>
                <property expression="json-eval($)" name="Responsepayload"/>
            </log>
            <respond/>
        </inSequence>
        <outSequence/>
        <faultSequence/>
    </resource>
</api>
